body{
    font-size: 25px;
    background-color: blanchedalmond;
}
.rules{
    opacity: 0.5;
}
.nodeData{
    width: 414px;
}
input{
    width: 200px;
    height: 47px;
    text-align: center;
    font-size: 16px;
}
button{
    margin: 0px;
    width: 208px;
    height: 55px;
}
.list{
    display: inline-block;
}
.data{
    margin-top: 15px;
    padding: 30px 5px 0 5px;
    border: 6px solid rgb(35, 70, 116);
    display: inline-block;
    height: 60px;
    background-color: rgba(57, 143, 255, 0.705);
}
.next{
    margin-top: 15px;
    padding: 30px 5px 0 5px;
    border: 6px solid rgb(35, 70, 116);
    display: inline-block;
    height: 60px;
    background-color:rgba(57, 143, 255, 0.705);
}